.home {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.home-header{
    margin-left: 60px;
}

.home-feed-text{
    font-size: 33px;
    font-weight: bold;
    color: rgb(34, 34, 34);
    margin-bottom: 10px;
}

.home-feed-text2{
    margin-top: 0;
    margin-bottom: 20px;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0px;
    text-transform: none;
    color: rgb(109, 115, 120)
}

.home-feed-text3{
    margin-top: 0;
    color: #0870d1;
    text-decoration: underline;
    text-decoration-thickness: 3px;
}

.home-feed-text3:hover{
    cursor: pointer;
}

.welcome-message {
    margin-left: 60px;
    margin-right: 60px;
    background-color: rgb(245, 245, 245);
    border-top: .5px solid rgb(231, 231, 231); ;
    border-bottom: .5px solid rgb(231, 231, 231); ;
}

.home-feed-text4{
    text-align: center;
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 0;
}

.home-feed-text5{
    margin-top: 0;
    text-align: center;
    font-size: 16px;
    font-weight: 400;
}

.home-image-feed {
    margin-left: 60px;
    margin-right: 50px;
}




/* home gallery */

.user-home-gallery-2{
    display: flex;
    flex-wrap: wrap;
    gap: 60px;
    padding-left: 70px;
    padding: 50px;
}

.gallery-home-container {
    position: relative;
    box-sizing: border-box;
    border: 1px solid rgb(240, 240, 240);
}

.gallery-home-container:hover{
    box-shadow: 3px 3px 3px rgb(194, 194, 194);
}

.gallery-home-description{
    height:80px;
    text-align: center;
    color: #525558;
    font-size: 25px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}

.curated-by {
    font-size: 14px;
    margin:0px;
    color:#b9c1c7;
}

.top-message, .home-links{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-left: 50px;
}
.featured-galleries-text{
    color:black;
    font-weight: 700;
    font-size:35px;
}

.browse-galleries-text{
    font-weight: 600;
    color:#525558;
}

.home-links{
    height: 50px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color:#525558;
    padding-left: 50px;
    margin-left: 0px;
    border-bottom: 1px solid rgb(235, 235, 235);
    width:100%;
    /* display: grid;
    grid-auto-flow: column;
    grid-column-gap: 10px */
}

.home-link-text {
    display: inline-block;
    margin-right: 30px;
    font-weight: 700;
    font-size: 15px;
    color: #71767a;

}

.home-link-text2 {
    display: inline-block;
    margin-right: 30px;
    font-weight: 700;
    font-size: 15px;
    color: #71767a;

}

.home-link-text-active {
    display: inline-block;
    margin-right: 30px;
    font-weight: 700;
    font-size: 15px;
    color: #0099e5;
    border-bottom: #0099e5 3px solid;
    padding-bottom: 31px;

}

