.empty-space{
    height: 70px;
}
.image-show-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 700px;
    background-color: rgb(34, 34, 34);
}

.image-show-image {
    max-width: 80%;
    max-height: 80%;
    
}
.expand-button{
    position:absolute;
    top: 90px;
    right: 50px

}

.expand-button:hover{
    cursor: pointer;
}

.image-show-details {
    
    background-color: rgb(255, 255, 255);
    margin-left: 5%;
    width:55%;
    padding-top: 20px;
}

/* image edit */

.image-edit-preview {
    margin-left: 30px;
    height:400px;
    width: auto;
}

.delete-button {
    margin-left: 70px;
    border:none;
    border-radius: 25px;
    width: 130px;
    height: 45px;
    font-size: 18px;
    color: rgb(255, 61, 71);
    background-color: white;
    border: 2px solid rgb(255, 61, 71);

   
}
.delete-button:hover{
    cursor:pointer
}

/* imageshow */

.image-show-details{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}

.edit-button{
    background-color: white;
    border-radius: 50%;
    border: none;
    text-align: center;
    width:30px;
    height:30px;
    float:left
}

.edit-button:hover {
    background-color: rgb(232, 232, 232);
    width:30px;
    height:30px;
    float:left
}



.image-show-top{
    display: flex;
    height:60px;
    
    
}

.image-show-title{
    display: block;
    box-sizing: border-box;
    font-size: 20px;
    margin-top:0px;
    margin-bottom: 10px;
}

.uploaded-by{
    position: relative;
    box-sizing: border-box;
    font-size: 13px;
    font-weight: 600;
}

.uploaded-at{
    font-size: 15px;

}
.date-uploaded{
    font-weight: 500;
}

.detail-text {
    font-size: 15px;
    font-weight: 600;
}

.show-username{
    font-size: 15px;
    font-weight: 700;
}

.button-container{
    height:30px
}

.follow-heart{
    width:30px;
    height:30px;
    border-radius: 50%;
    float:left
}

.follow-heart:hover{
    background-color: rgb(232, 232, 232);
    float:left
}

.image-show-bottom{
    display: flex;
    background-color: rgb(247, 247, 247);

}

.comment-box{
    
    width: 25%;
    background-color: white;
    border-radius: 5px;
}

.coming-soon {
    text-align: center;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 20px;
    font-weight: 600;
    color: rgb(170, 170, 170);
}

.comment-input {
    display:block;
    margin : 0 auto;
    border-radius: 5px;
    height:25px;
    width:300px;
    border: 1px solid rgb(170, 170, 170);
}

.featured-image-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.featured-image-cont{
    position: relative;
    box-sizing: border-box;
    flex-grow:1 ;
    align-items: center;
    text-align: center;
    border: 1px solid rgb(231, 231, 231);
}
.user-images-featured{
    width:auto;
    max-width: 250px;
    height: 250px;
    object-fit: cover;
}

.featured-cont{
    height:400px;
    overflow: auto;
}

.show-featured-image-text{
    font-size: 25px;
}
