.empty-space{
    height: 70px;
}
.image-show-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 700px;
    background-color: rgb(34, 34, 34);
}

.image-show-image {
    max-width: 80%;
    max-height: 80%;
    
}
.expand-button{
    position:absolute;
    top: 90px;
    right: 50px

}

.expand-button:hover{
    cursor: pointer;
}

.image-show-details {
    background-color: rgb(240, 240, 240);
    margin-left: 5%;
    width:80%;
}
