.profile-container{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.user-profile-top-background {
    width: 100%;
    height: 350px;
}

.user-profile-avatar{
    position: absolute;
    top:40%;
    border-radius: 50%;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    bottom: 0;
    height: 125px;
    width: 135px;
}




.image-title {
    font-size: 20px;
    width: 100%;
    height: 10px;
    text-decoration: none;
    position:absolute;
    color: white;
    background: linear-gradient(0deg, rgba(0,0,0,0.30) 20%, rgba(0,0,0,0.20) 50%, rgba(255,255,255,0) 100%);
    opacity: 0;
    visibility: hidden;
    left: 0;
    bottom: 1%;
    transition: opacity 0.2s ease 0s, max-height 0.2s ease 0s;
    
}


.image-container:hover .image-title{
    opacity: 100;
    visibility: visible;
    height: 30px;

}



.profile-name{
    text-align: center;
    margin-top: 70px;
    font-size: 24px;
    font-weight: 600;
}

.profile-biography {
    text-align: center;
    font-size: 16px;
    font-weight: 500;
}

.profile-stats{
    text-align: center;
    font-size: 14px;
    font-weight: 500;
}

.user-profile-image-gallery-link{
    text-align: center;
    margin-bottom: 30px;
    font-size: 18px;
    font-weight: bold;

}

.active-profile:visited{
    color: rgb(41, 134, 247);
    text-decoration: none;
}

.inactive-profile:visited{
    color: gray;
}

.profile-image-count{
    font-weight: 500;
    font-size: 14px;
}
.profile-upload-button-2-container{
    margin-left: 1%;
    justify-content: center;
    width: 350px;
    height: 200px;
    background-color: rgb(34, 34, 34);
    text-align: center;
}

.profile-upload-text{
    padding-top: 30px;
    color: white;
    text-align: center;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 20px;
    font-weight: 600;
}

.profile-upload-text-2{
    padding-bottom: 20px;
    color: white;
    text-align: center;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 15px;
    font-weight: 500; 
}

.profile-upload-button-2{
    
    width: 250px;
    height: 50px;
    background-color: white;
    color: black;
    font-size: 15px;
    border-radius: 25px;
    border: none;
}

.create-gallery-div{
    width: 343px;
    height: 243px;
    position: relative;
    box-sizing: border-box;
    
}

.user-profile-top-img{
    max-width: 100%;
    height: auto;
    min-width: 100%;
    margin-top: -25%;
}

.user-profile-top-background{
    overflow: hidden;
}

.no-galleries{
    text-align: center;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 25px;
}

/* Profile Edit */

.edit-container {
    top:17%;
    margin-top:100px;
    margin-left:auto;
    margin-right: auto;
    height: 500px;
    border:1px solid;
    border-color:gray;
    color: gray;
    width: 400px;
    background-color: white;
    border-radius: 5px;

}
.edit-profile-text{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 20px;
    color: black;
    text-align: center;
}

.upload-label-button2 {
    display: inline-block;
    color:white;
    background-color:rgb(0, 89, 255);
    width: 150px;
    margin-left: 120px;
    height: 50px;
    border-radius: 25px;
    font-size: 20px;
    vertical-align: middle;
    text-align: center;
    
}

.upload-label-button2:hover {
    background-color: rgb(41, 134, 247);
    cursor: pointer;
}

.upload-label-button2 p {
    margin: 12px;
}


.upload-button2{
    margin-left: 30px;
    border:none;
    border-radius: 25px;
    width: 130px;
    height: 45px;
    margin-left: 130px;
    font-size: 18px;
    color: white;
    background-color: rgb(30, 101, 253);
}

.upload-button2:hover {
    background-color: rgb(87, 140, 255);
    cursor:pointer
}

.preview-edit-ava {
    width:50px;
    height:50px;
    border-radius: 50%;
    margin-left: 175px;
}

.pencil-image{
    width: 25px;
    height: 25px;
    position: absolute;
    left: 55%;
    top: 480px;
}

.following-button{
    width: 20%;
    margin: auto;
    color: #2986F7;
}

.following-button:hover{
    cursor: pointer;
}